<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" href="data:image/svg+xml,
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'>
        <text y='1.2em' font-size='96'>⚫️</text>
        <text y='1.3em' x='0.2em' font-size='76' fill='%23fff'>sf</text>
    </svg>">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
    <header class="site-header">
        <span class="site-title">Min Symfony webbplats</span>
    </header>

    <nav class="main-nav">
        <ul>
            <li><a href="{{ path('home') }}">Home</a></li>
            <li><a href="{{ path('about') }}">About</a></li>
            <li><a href="{{ path('lucky') }}">Lucky Number</a></li>
            <li><a href="{{ path('report') }}">Rapport</a></li>
            <li><a href="{{ path('report_kmom01') }}">Redovisning</a></li>
        </ul>
    </nav>

    <main>
        {% block body %}{% endblock %}
    </main>
</body>
</html>

